# FRONTEND IGNORE
# Dependencias
/frontend-service/node_modules
/frontend-service/.pnp
/frontend.pnp.js

# Producción
/frontend-service/dist
/frontend-service/build

# Archivos de logs
/frontend-service/npm-debug.log*
/frontend-service/yarn-debug.log*
/frontend-service/yarn-error.log*
/frontend-service/pnpm-debug.log*

# Editor de código
/frontend-service/.idea
/frontend-service/.vscode
/frontend-service/*.suo
/frontend-service/*.ntvs*
/frontend-service/*.njsproj
/frontend-service/*.sln
/frontend-service/*.sw?

# Sistema operativo
/frontend-service/.DS_Store
/frontend-service/Thumbs.db

# Configuración local
/frontend-service/.env.local
/frontend-service/.env.*.local

# Cache de Vite/Vue CLI
/frontend-service/.vite
/frontend-service/.cache